[data-url*="://framacalc.org"] [onresize],
[data-url*="://lite.framacalc.org"] [onresize] { /* dans Ethercalc */
    *, *:before, *:after {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

    #msg { top:48px; }

    overflow: hidden;
}
