$ombre: 0px 3px 4px rgba(50, 50, 50, 0.2);
$img-ombre: 0px 2px 6px rgba(50, 50, 50, 0.4);
$carousel-ombre: 0px 3px 3px rgba(50, 50, 50, 0.5);

@import "board"; /* Framaboard a un traitement de faveur */

@import "global";

/* Sites Frama */
@import "bee";
@import "bin";
@import "bookin";
@import "calc";
@import "carte";
@import "clic";
@import "colibri";
@import "contact";
@import "forms";
@import "libre";
@import "listes";
@import "localhost";
@import "news";
@import "pad";
@import "pic";
@import "phonie";
@import "team";
@import "vectoriel";
@import "vox";
@import "wiki";

/* Ajustements */
@import "nav-fixed";
@import "footer";
@import "mute";
@import "overflow";

/*# sourceMappingURL=frama.css.map */
