<div class="well">
    <h1>Framagames</h1>
    <p>Framagames regroupe différents logiciels libres développés par différentes personnes extérieurs à Framasoft.</p>
    <p>Séléction, traduction et empaquetage : Cyrille Largillier</p>
    <p>Vous trouverez la liste des auteurs des différents jeux en cliquant sur leur bouton « Crédits » respectifs.</p>
</div>
