<div class="well">
    <h1>Framazic</h1>
    <p>Framazic, ou Framaz♪c, est une initiative de l’association à but non-lucratif <a href="https://framasoft.org/">Framasoft</a> ayant pour objectif la promotion du logiciel et de la culture libres.</p>

    <h2>Contexte</h2>
    <p>Framazic a été réalisé dans un contexte plutôt morose pour la musique non-libre : de grands groupes monopolistiques dominent ce domaine artistique et utilisent leurs pouvoirs contre l’intérêt de la majorité : des artistes d’abord, qui soit n’arrivent pas à percer dans ce système fermé, soit réussissent à se faire connaître mais doivent signer des contrats les spoliant honteusement. Les citoyens ensuite qui subissent les caprices d’une industrie du divertissement refusant de remettre en question la pertinence de son modèle économique, et faisant non seulement pression sur les politiques pour faire passer des lois contraires à nos libertés fondamentales, mais aussi organisant un lavage de cerveau général sur un ton moralisateur. Les organisations et personnes diffusant de la musique enfin qui subissent des prix de plus en plus exagérés ne servant ni à encourager la création, ni à rémunérer les artistes, mais à conforter un système malade nourrissant grassement quelques « happy few ».<br>
    C’est dans ce contexte qu’il a paru important de participer à la promotion de la musique libre. Le but est d’ouvrir ce domaine de la culture au plus grand nombre pour à la fois faire connaître, et montrer qu’effectivement une alternative est possible et fonctionne.<br>
    Ce projet apparaît aussi chez Framasoft, association à but non-lucrative, dans le cadre d’un but de long terme d’élargir les perceptives. Framasoft qui a commencé par la promotion du logiciel libre cherche maintenant à faire également découvrir la culture libre (musiques, films, livres,  connaissances, etc).</p>

    <h2>Réalisation</h2>
    <p>Framazic est un projet de la galaxie Framasoft, ayant pour but la promotion de la musique libre : définition, explication des enjeux liés, de son fonctionnement, écoute d’une sélection, liens vers des plateformes d’hébergement de musique. Framazic n’est donc pas une plateforme hébergeant de la musique sous licence libre, mais une porte d’entrée vers la musique libre, c’est à dire un site servant de référence pour tout ceux souhaitant la découvrir.</p>
    <p>Le contenu de ce site a été rédigé et mis en forme par Martin Gubri dans le cadre de son stage chez Framasoft en 2012.</p>

    <h2>Remerciements</h2>
    <p>Nous remercions chaleureusement <a href="https://aisyk.blogspot.fr/">Aisyk</a> pour ses explications détaillées et l’intérêt qu’il a consacré au projet, Pierre-Yves Gosset pour sa disponibilité et pour le travail technique et ses conseils avisés,  Benjamin Jean pour son écoute et ses réponses pertinentes aux questions posées, JosephK pour son aide fort précieuse à l’intégration des vidéos sur le site, et à tous les membres de l’association pour avoir initié le projet, permis et suivis sa réalisation.</p>

    <h2>Licence</h2>
    <p>Sentez vous libre de copier, diffuser, adapter le contenu de ce site, tant que vous attribuez clairement
    et visiblement la paternité à Framartin et Framasoft. Sauf mention contraire (dans les notes de bas de page)
    pour certains paragraphes (contenant des parties reprises de sources externes) et certains médias (images,
    vidéos, etc) le contenu de ce site est mis à disposition selon les termes de la licence
    <a href="https://creativecommons.org/licenses/by/3.0/fr/" title="Creative Commons Attribution 3.0 France">Creative Commons Attribution 3.0 France</a>.</p>
    <p>N’hésitez pas à nous contacter pour toutes questions, problèmes, modifications à suggérer, nous faire parvenir vos créations (quelque soit le support) ou simplement pour nous dire que vous appréciez faire un tour par ici !</p>
    <p>Le <a href="https://thenounproject.com/noun/headphones/#icon-No1850">logo du casque</a> symbolisant les mélomanes a été fait par Dara Ullrich, sous licence Creative Commons by 3.0.</p>
    <p>Le <a href="https://openclipart.org/detail/171161/acoustic-guitar-silhouette-by-j_alves-171161">logo de guitare</a> symbolisant les musiciens a été fait par J_Alves, sous licence <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons 0 domaine public 1.0</a>.</p>
    <p>Le <a href="https://openclipart.org/detail/150715/megaphone-by-worker">logo du mégaphone</a> symbolisant les diffuseurs a été fait par worker, sous licence <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons 0 domaine public 1.0</a>.</p>

    <h2>Technique</h2>
    <p>Le site est propulsé par WordPress, avec une version modfiée du thème libre
    <a href="http://themeid.com/responsive-theme/" title="Thème Responsive">Responsive</a> sous licence GPL v3,
    et avec <a href="https://twitter.github.com/bootstrap/">Bootstrap</a>.
    La sélection de musique libre fonctionne avec le plugin libre (GPL 2)
    <a href="http://wordpress.org/extend/plugins/html5-jquery-audio-player/">HTML5 jQuery Audio Player</a>.
    Les graphiques dynamiques sont générés à l’aide de <a href="http://www.highcharts.com/">Highcharts</a>
    (sous licence <a href="shop.highsoft.com/highcharts.html">Creative Commons By-Nc 3.0</a>).</p>
</div>
